.listAppWrp {
  width: 100%;
  height: 100%;
  background: #f3f5f7;
  float: left;
}

.button-addApp {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  background: red;
  font-size: 1.5em;
  color: #fff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.button-addApp:hover {
  background: blue;
}

ul.la-grid-wrp {
  list-style: none;
  padding: 50px;
  margin: 0;
  float: left;
  text-align: center;
}

ul.la-grid-wrp li {
  display: inline-block;
  width: 260px;
  height: 320px;
  margin: 25px;
  padding: 20px;
  background: #ffffff;
  transition: all 0.3s ease;
}

ul.la-grid-wrp li:hover {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}

ul.la-grid-wrp li img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul.la-grid-wrp li h3 {
}

.listModal-inner {
  width: 100%;
  max-width: 400px;
}


.rmodal-close {
  position: absolute;
  top: 2px;
  right: 2px;
}
