* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.login-wrapper {
  width: 400px;
  max-width: 80%;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 50px 40px;
}

.text-field {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  clear: both;
  border: 1px solid #a7a7a7;
}

.text-area {
  width: 100%;
  padding: 5px;
  height: 80px;
  resize: none;
  margin: 5px 0;
  display: inline-block;
  clear: both;
  border: 1px solid #a7a7a7;
}

.button-submit {
  width: 100%;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  background: green;
  border-radius: 2px;
  border: none;
  padding: 5px 0;
}

/* Common Styles */
.wrapper{
  width: 100%;
  float: left;
}
.clear{
  display: block;
  clear: both;
}
